@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Samples */
.aclonica-regular {
  font-family: "Aclonica", "Inter";
  font-weight: 500;
  font-style: normal;
  font-size: 64px;
}
.inter-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* Real */
body {
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  /* scroll-behavior: smooth !important; */
}
.inter-small {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.font-showcase {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 70px;
}
.course {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 500px; */
  /* background-color: red; */
}
.course img {
  width: 100%;
}
.bend1 {
  rotate: -10deg;
}
.bend2 {
  rotate: 10deg;
}
input:focus,
select:focus {
  outline: none;
}
.float-btn {
  position: fixed;
  bottom: 20px;
  z-index: 999;
}
.programShocase {
  background: linear-gradient(
      212.13deg,
      rgba(69, 68, 68, 0.8) -34.47%,
      rgba(10, 13, 20, 0.8) 67.73%,
      rgba(10, 13, 20, 0.8) 91.4%
    ),
    url(./assets/background_changing.gif);
  color: #ffffff;
}
.programShocase h1 {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 70px;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-image-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rotating-image {
  animation: rotateImage 10s linear infinite; /* Adjust duration and timing function as needed */
}

/* jhgxdcgvh */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 999;
}

/* Styles for the backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.imageSide {
  width: 50%;
  overflow: hidden;
  background: linear-gradient(45deg, #2241b9 0%, #162664 100%);
}
.move-wrap {
  display: flex;
  align-items: center;
  animation: linear infinite 5s animateOverTop;
  rotate: -10deg;
  margin-top: 100px;
}
.down {
  animation: linear infinite 5s animateOverTop;
  rotate: 10deg;
  margin-top: 260px;
}
.child-container {
  flex-shrink: 0;
}

@keyframes animateOverTop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.hover-effect {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.1) !important;
  background-color: #f8eee8;
}

@media (max-width: 488px) {
  body {
    overflow-x: hidden !important;
  }
  .nav-links {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .show-text {
    font-size: 37px !important;
    line-height: 50px !important;
  }
  .show-text2 {
    margin-top: 100px;
    padding: 0px 10px;
  }
  .show-text2 h1 {
    font-size: 37px !important;
    line-height: 50px !important;
  }
  .show-text2 p {
    font-size: 12px;
  }
  .course h2 {
    font-size: 20px;
    line-height: 30px;
  }
  button {
    font-size: 12px;
  }
  .trusted {
    font-size: 27px !important;
  }
  .kids-benefit h2 {
    font-size: 20px !important;
    line-height: 50px;
  }
  .testimonies h1 {
    font-size: 18px !important;
    line-height: 30px !important;
  }
  .newsletter p {
    font-size: 16px !important;
    line-height: 20px;
  }
  .couseProMob {
    font-size: 12px !important;
  }
  .details2 h2 {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .imageSide {
    display: none;
  }
  .reviewImage {
    display: none;
  }
  .pricing h1 {
    font-size: 37px !important;
    line-height: 50px !important;
  }
  .pricing h2 {
    font-size: 35px !important;
  }
  .subVector {
    display: none !important;
  }
}
